<footer>
    
    <section class="footer-superior">
        <div class="contenedor-marcas">
            <div>
                <img src= "/images/casio.jpg" class="marcas"></div>
            <div><img src= "/images/epiphone.jpeg" class="marcas"></div>
            <div><img src= "/images/fender.jpeg" class="marcas"></div>
            <div><img src= "/images/gibson.jpeg" class="marcas"></div>
            <div><img src= "/images/ibanez.jpeg" class="marcas"></div>
            <div><img src= "/images/yamaha.jpeg" class="marcas"></div>
        </div>
    </section>


    <section class="footer-inferior">
        <div class="contenedor-inferior">
            <div class="informacion-contacto">
                <h4>Información</h4>
                <lu class="lista-footer">
                    <li><a href="">Sobre nosotros</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Cambios y devoluciones</a></li>
                    <li><a href="">Formas de envío</a></li>
                    <li><a href="">Políticas de privacidad</a></li>
                </lu>
            </div>
            
            <div class="medios-pago">
                <h4>Medios de Pago</h4>
                <lu class="lista-footer">
                    <li>Tarjetas Crédito/Débito</li>
                    <li>Mercado Pago</li>
                    <li>Pago Fácil</li>
                    <li>Rapipago</li>
                    <li>Tarjeta Shopping</li>
                    <li>Tarjeta Naranja</li>
                    <li>Tarjeta Nativa</li>
                </lu>
            </div>
            <div class="horario-ubicacion">
                <h4>Donde Estamos</h4>
                <div>
                    <p>Av Rivadavia 3507, Caba</p>
                    <p>Horarios de Atención</p>
                    <p>Lunes a Viernes 9hs a 20hs</p>
                    <p>Sábados 9hs a 13hs</p>
                    <!--<img class="mapa" src="/images/mapa.jpg">-->
                </div>
            </div>
        </div>
        <div class= "copyright">
            <p>Copyright 2021 - Todos los derechos reservados</p>
        </div>
            
    </section>
    </footer>