<header class="contenedorHeader">
    <nav id="headerSuperior" class="navbar fixed-top navbar-expand-lg pl-3">
        <div class="container" style="position:relative;">
            <div class="headerIzquierda">
                <a id="linkLogo" class="navbar-brand" href="/">
                    <img src="/images/logo4musicTransparente2.png" alt="4Music">
                </a>
            </div>
            <div class="input-group">
                <input type="text" id="busqueda" class="form-control" placeholder="Buscar Productos...">
                <div class="input-group-append" >
                  <button class="btn btn-secondary botonLupa"  type="button">
                    <i class="fa fa-search lupa"></i>
                  </button>
                </div>
            </div>
            <div class="menuHamburguesa">
                <i class="fas fa-bars"></i>
            </div>             
            <div class="headerDerecha">
                <div class="contenedorOpcionesUsuario">
                    <div class="opcionUsuario">
                        <a href="/users"> <i class="fas fa-user"></i> Ingresar</a>
                    </div>
                    <div class="opcionUsuario visible">
                        <a href="/users/register">Registrarse</a>
                    </div>
                    <div class="logoCarrito">
                        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="contenedorLogosRedes">
                    <div class="logoRedes">
                        <a href="http://facebook.com"><i class="fab fa-facebook" ></i></a>
                    </div>
                    <div class="logoRedes">
                        <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="logoRedes">
                        <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </nav> 
    <nav id="headerInferior" class="navbar fixed-top navbar-expand-lg" color-on-scroll="100">
        <div class="container menu" style="position:relative;">
            <div class="dropdown visible">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    INICIO
                </button>
            </div>
            <div class="dropdown visible">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    AMPLIFICADORES
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">GUITARRA</button>
                    <button class="dropdown-item" type="button">BAJO</button>
                    <button class="dropdown-item" type="button">MULTIUSO</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    INSTRUMENTOS DE CUERDAS
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">GUITARRAS</button>
                    <button class="dropdown-item" type="button">BAJOS</button>
                    <button class="dropdown-item" type="button">UKELELES</button>
                    <button class="dropdown-item" type="button">CHARANGOS</button>
                    <button class="dropdown-item" type="button">VIOLINES</button>
                    <button class="dropdown-item" type="button">ACCESORIOS</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PERCUSIÓN
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">BATERIAS</button>
                    <button class="dropdown-item" type="button">ACCESORIOS PERCUSIÓN</button>
                    <button class="dropdown-item" type="button">PARCHES</button>
                    <button class="dropdown-item" type="button">PALILLOS</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    TECLAS
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">PIANOS</button>
                    <button class="dropdown-item" type="button">TECLADOS</button>
                    <button class="dropdown-item" type="button">SINTETIZADORES</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    VIENTOS
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">TROMPETAS</button>
                    <button class="dropdown-item" type="button">SAXOS</button>
                    <button class="dropdown-item" type="button">TUBAS</button>
                    <button class="dropdown-item" type="button">CLARINETES</button>
                    <button class="dropdown-item" type="button">ACORDEONES</button>
                    <button class="dropdown-item" type="button">FLAUTAS</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    AUDIO
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">MICRÓFONOS</button>
                    <button class="dropdown-item" type="button">CONSOLAS</button>
                    <button class="dropdown-item" type="button">INTERFASES</button>
                    <button class="dropdown-item oculto" type="button">AMPLIFICADORES GUITARRA</button>
                    <button class="dropdown-item oculto" type="button">AMPLIFICADORES BAJO</button>
                    <button class="dropdown-item oculto" type="button">AMPLIFICADORES MULTIUSO</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    VARIOS
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">ACCESORIOS GRABACIÓN</button>
                    <button class="dropdown-item" type="button">EFECTOS</button>
                    <button class="dropdown-item" type="button">SSS</button>
                </div>
            </div>
    </nav>      
</header>