<!DOCTYPE html>
<html lang="es">
<%-include("partials/head.ejs", {title: '4-Music Sobre Nosotros'})%>


<body class="fourMusic">
   
    <%-include("partials/header.ejs")%>

    <main>
        <div class="contenedorMain">
            <H1>4Music</H1>
            <div>
                <p>4Music es un Emprendimiento Jóven, nacido a partir de una necesidad del Mercado de un E-Commerce de Instrumentos Musicales y Accesorios.   
                    <br>
                Al ser un Sitio especializado en el Rubro Musical, cuenta con novedosas características exclusivas que lo posicionan como la primer opción a elegir a la hora de comprar o vender articulos musicales.
                    <br>
                Consideramos que 4Music ocupará un importante lugar en el mercado actual ya que ha tenido una muy buena aceptación por parte de la Comunidad Musical adaptandose constantemente a las nuevas exigencias del rubro. 
                    
                <p style="font-weight: bold; font-size: 23px;">Creadores:</p>
                
                    Julián Polimeni
                <br>
                    Estefanía Colodro
                <br>
                    Agustín Faggiano
                <br>
                    Ana Santoandré
                    <br>
                    ©2021
                </p>
        </div>
             </div>
</main>


<%-include("partials/footer")%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../js/loginUsuario.js"></script>
</body>
</html>
</body>
</html>