<!DOCTYPE html>
<html lang="es">
<%-include("partials/head.ejs", {title: 'Error - Página no encontrada'})%>


<body class="fourMusic">
   
    <%-include("partials/header.ejs")%>

    <main>
        <div class="contenedorMain">
            <H1>4Music</H1>
            <div>
                <p>4Music es un tiene una trayectoria de más de 60 años al servicio de los músicos, empezando en 1958. Es un local histórico en el barrio de Caballito, en la Ciudad Autónoma de Buenos Aires. Es un espacio atendido por músicos y en contacto permanente con ellos.
                    <br>
                    En un principio, fue un local dedicado a la compra, venta, reparación y mantenimiento de pianos. Luego se utilizó el frente del local para exponer algunos instrumentos, sobre todo guitarras criollas en esa época. Con el correr del tiempo y el uso de internet, el local creció, llegando a ser lo que es hoy en día: un espacio en donde destaca la atención al público, una referencia para profesionales y amateurs, en toda la zona.
                    <br>
                    Actualmente 4Music es distribuidor oficial de Yamaha, así como de muchas otras marcas destacadas en el ámbito nacional e internacional como La Alpujarra, Fender, Gibson, Marshall, y muchas otras más. La calidad de la atención y la de los productos, hace que músicos, empresas e instituciones nos contacten de todo el país para operar con nosotros.
                    <br>
                </p>
        </div>
             </div>
</main>


<%-include("partials/footer")%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../js/loginUsuario.js"></script>
</body>
</html>
</body>
</html>