<%-include("partials/head")%>

<title>Perfil</title>

<body class="fourMusic">

<%-include("partials/header.ejs")%>



<h2 class="bienvenida">Bienvenido Usuario XXXX!</h2>

    <a href="/products/nuevoProducto">
        <button type="button" class="boton-registro">
            Publicar nuevo producto
        </button>
    </a>
    <a href="/products/edicionProducto">
        <button type="button" class="boton-registro">
            Editar Producto
        </button>
    </a>


<%-include("partials/footer")%>

</body>