<!DOCTYPE html>
<html lang="es">
<%-include("partials/head.ejs", {title: 'Registracion Exitosa'})%>


<body class="fourMusic">

<%-include("partials/header.ejs")%>


<div class="contenedorPerfilUsuario">
    <h2 class="bienvenida">Registración Exitosa!!!</h2>

    <a href="/users">
        <button type="button" class="boton-registro">
            Iniciar Sesión
        </button>
    </a>
    
</div>
<%-include("partials/footer")%>

</body>