<!DOCTYPE html>
<html lang="es">
<%-include("../partials/head.ejs", {title: 'Listado de productos'})%>


<body class="fourMusic">

    <%-include("../partials/header.ejs")%>
 

<div class="contenedorPerfilUsuario">
    <h2 class="bienvenida">Artículo publicado exitosamente!!!</h2>

    <a href="/users/profile">
        <button type="button" class="boton-registro">
            Volver a Mi Perfil
        </button>
    </a>
</div>
<%-include("../partials/footer")%>

</body>